*{
    box-sizing:border-box;
}

body {
    margin:0;
    font-family: 'Telex', cursive;
    background: 
        radial-gradient(circle at right, rgba(255, 205, 5, 0.295), transparent 70%),
        linear-gradient(180deg, #10233F 0%, #0B1830 45%, #091322 100%);
    color: #EAF1FF;
}

h2, a, .botao, p, input{
    font-family: 'Press Start 2P';
}

a{
    text-decoration: none;
    color: purple;
}

.voltar-home{
    background: #FFCB05;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    font-size: 20px;
}

.esquerdo h2{
    font-size: 56px;
}

.direito h2{
    font-size: 66px;
    margin-bottom: 60px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.esquerdo{
    width: 50%;
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.direito{
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 40px;
}

.img{
    width: 60%;
    height: 60%;
}

.forms{
    width:80%;
}

.inputs{
    margin-bottom:10px;
}

.inputs input{
    width:100%;
    padding:22px;
    border-radius:10px;
    font-size:20px;
    margin-bottom:10px;
}

.inputs label{
    font-size: 30px;
}

.botao,
button{
    width:100%;
    padding:20px;
    margin-top:6px;
    border-radius:10px;
    font-size:20px;
    background-color: #16327e;
    color: #EAF1FF;
}

.esquerdo p{
    font-size: 25px;
}

.exibir {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 60px;
    margin: 20px;
    border-radius: 12px;
    text-align: center;
}

.sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
}